/*!==========================================================================
# footer
========================================================================== */
.footer {
  background: #ccc;

  @include mq(md) {
    background: #999;
  }

  @include mq(lg) {
    background: #555;
  }
}
