/*!==========================================================================
# header
========================================================================== */
.header {
  background: #ccc;

  &-nav__link {
    display: inline-block;
    font-weight: bold;
    color: #000;
  }
  
  &-nav__link--contact {
    color: red;
  }
}
